<div class="signup">
  <div class="container">
    <div class="row">
      <div class="resgister col-md-6 width_full">
        <div class="register-form mx-auto">
          <div class="content">
            <!-- <button type="button" class="cloise-button" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
            <div class="logo">
              <img src="./img/Frame.png" alt="" class="logo" />
            </div>
            <h2 class="register-header">Đăng ký</h2>

            <!-- Họ và tên -->
            <div class="form-group">
              <label for="full-name">Họ và tên</label>
              <input type="text" class="form-control" id="full-name" />
              <div class="divider-nospace"></div>
            </div>

            <div class="row-info">
              <div class="form-group mt-2 name-customer">
                <label for="address">Tên tài khoản</label>
                <input type="text" class="form-control" id="address" />
                <div class="divider-nospace"></div>
              </div>
              <div class="form-group mt-2 phone">
                <label for="address">Phone</label>
                <input
                  type="text"
                  class="form-control"
                  id="address"
                  placeholder="Số điện thoại"
                />
                <div class="divider-nospace"></div>
              </div>
            </div>

            <!-- Email  -->
            <div class="form-group mt-2">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" />
              <div class="divider-nospace"></div>
            </div>

            <!-- Mật khẩu -->
            <div class="form-group password-field mt-3">
              <label for="password">Mật khẩu</label>
              <input
                type="password"
                placeholder=""
                class="form-control"
                id="password"
              />
              <i class="password-toggle fas fa-eye-slash"></i>
              <div class="divider-nospace"></div>
            </div>

            <!-- Nhập lại mật khẩu -->
            <div class="form-group password-field mt-2">
              <label for="confirm-password">Nhập lại mật khẩu</label>
              <input
                type="password"
                placeholder=""
                class="form-control"
                id="confirm-password"
              />
              <i class="password-toggle fas fa-eye-slash"></i>
              <div class="divider-nospace"></div>
            </div>

            <!-- Xác nhận điều khoản  -->
            <div class="form-group mt-2">
              <div class="form-check checkbox-text">
                <span style="display: flex">
                  <input type="checkbox" class="form-check-input" id="agree" />
                  <label class="form-check-label text-start" for="agree">
                    Tôi đồng ý với các điều khoản và điều kiện</label
                  >
                </span>
              </div>
            </div>

            <div class="button-signin">
              <button type="button" class="register-button">Đăng ký</button>
            </div>
            <div class="divider"></div>
            <p class="text-center">
              Bạn đã có tài khoản?
              <span> <a href="#" class="register-link">Đăng nhập</a></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
