<footer>
  <div class="footer_up flex gap_53">
    <div class="footer_content">
      <div class="logo_footer"></div>
      <p>HOTLINE BÁN HÀNG</p>
      <div class="flex a_center flex_betwwen mt_17">
        <div class="hotline_footer"></div>
        <p class="fs_40 color_green lh_24 text_no_wrap">0912 250 625</p>
      </div>
      <p class="mt_17 color_gray">( 08:00-17:00 tất cả các ngày trong tuần)</p>
      <p class="mt_17">CHĂM SÓC KHÁCH HÀNG</p>
      <div class="flex a_center flex_betwwen mt_17">
        <div class="hotline_footer"></div>
        <p class="fs_40 color_green lh_24 text_no_wrap">0912 250 625</p>
      </div>
      <p class="mt_17 color_gray pb_bt_57">
        ( 24/7 tất cả các ngày trong tuần)
      </p>
    </div>
    <div class="m_w178">
      <p class="fs_15 color_4F4F4F mt_28">CHĂM SÓC KHÁCH HÀNG</p>
      <p class="fs_14 color_A0A4A8 mt_24">Chính sách bảo hành</p>
      <p class="fs_14 color_A0A4A8 mt_14">Chính sách đổi trả sản phẩm</p>
      <p class="fs_14 color_A0A4A8 mt_14">Hỏi Đáp Mua Hàng Online</p>
    </div>
    <div class="m_w138">
      <p class="fs_15 color_4F4F4F mt_28">CỬA HÀNG</p>
      <p class="fs_14 color_A0A4A8 mt_14">Thùng rác văn phòng</p>
      <p class="fs_14 color_A0A4A8 mt_14">Thùng rác thông minh</p>
      <p class="fs_14 color_A0A4A8 mt_14">Sản phẩm khuyến mại</p>
    </div>
    <div class="m_w119">
      <p class="fs_15 color_4F4F4F mt_28">VỀ CHÚNG TÔI</p>
      <p class="fs_14 color_A0A4A8 mt_14">Giới thiệu công ty</p>
      <p class="fs_14 color_A0A4A8 mt_14">Hệ thống cửa hàng</p>
      <p class="fs_14 color_A0A4A8 mt_14">Tuyển dụng</p>
    </div>
    <div class="m_w231">
      <p class="fs_15 color_4F4F4F mt_28">LIÊN HỆ</p>
      <div class="flex a_center">
        <div class="sub mt_14"></div>
        <p class="fs_14 color_A0A4A8 mt_14">
          Tổ 3, Khối Thanh Tây, Tp. Hội An, Quảng Nam
        </p>
      </div>
      <div class="flex a_center">
        <div class="phones mt_14"></div>
        <p class="fs_14 color_A0A4A8 mt_14">093 487 88 33</p>
      </div>
      <div class="flex a_center">
        <div class="mail mt_14"></div>
        <p class="fs_14 color_A0A4A8 mt_14">contact.com</p>
      </div>
    </div>
  </div>
  <div class="footer_down">
    <p>
      Copyright 2019 HALUTA.vn. Công ty cổ phần HALUTA, Mã số thuế: 0123456789
    </p>
  </div>
</footer>
