<header>
  <div class="hotline width_100 flex mg_auto">
    <div class="total flex a_center width_100">
      <div class="flex a_center">
        <div class="img_phone mr_5"></div>
        <p class="fs_15">
          Hotline: <strong class="fs_15">0912 250 625</strong>
        </p>
      </div>
      <div class="flex a_center">
        <div class="img_location mr_5"></div>
        <p class="fs_15">Cây Xanh Haluta</p>
      </div>
    </div>
  </div>
  <div class="header_haluta mg_auto">
    <div class="header_content mg_auto flex">
      <div class="header_left flex">
        <div class="header_logo"></div>
        <input type="text" placeholder="Bạn tìm kiếm sản phẩm gì..." />
        <div class="header_search"></div>
      </div>
      <div class="header-right flex a_center">
        <a href="" class="cl_w mr_27 fs_15 lh_18 hident_1000 undline"
          >TRANG CHỦ</a
        >
        <a href="" class="cl_w mr_27 fs_15 lh_18 hident_1000 undline"
          >GIỚI THIỆU</a
        >
        <a href="" class="cl_w mr_27 fs_15 lh_18 hident_1000 undline"
          >LIÊN HỆ</a
        >
        <a href="" class="cl_w mr_27 fs_15 lh_18 hident_1000 undline"
          >CÂY XANH</a
        >
        <a href="" class="cl_w mr_27 fs_15 lh_18 hident_1000 undline"
          >ĐĂNG KÍ</a
        >
        <a href="" class="cl_w mr_27 fs_15 lh_18 hident_1000 undline"
          >ĐĂNG NHẬP</a
        >
        <div class="img_cart hident_1000"></div>
        <div class="img_bar block_1000"></div>
      </div>
    </div>
  </div>
</header>
